/******************* Body ******************/
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr 100px;
}

/******************* Header ******************/
header {
    grid-column: span 3;
}

/******************* Footer ******************/
footer {
    grid-column: span 3;
}

/******************* Main ******************/
main {
    width: 100%;
    grid-column: span 2;
    margin: 0 auto;
    padding: 50px 100px;
    align-content: space-around;
}

main h2 {
    margin: 20px;
    text-align: center;
}

.container-contacto {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/***** Formulario *****/
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

form textarea {
    resize: none;
}

#submit {
    padding: 15px;
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    color: white;
    background-color: #B2B2B2;
    cursor: pointer;
}

/***** Aside contacto *****/
aside {
    padding: 50px;
    padding-top: 120px;
    margin-bottom: 20px;
    text-align: center;
}

.aside-things {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    gap: 50px;
    padding: 190px 15px;
    background-color: #dcdcdc;
}

.active {
    border-bottom: 1px solid black;
}


/*************************************************/
/******************* Responsive ******************/
/*************************************************/
@media screen and (max-width:1100px) {
    body {
        grid-template-rows: 150px 1fr 200px 100px;
    }

    main {
        grid-column: span 3;
        padding: 50px;
    }

    .container-contacto {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    form input:last-child {
        margin: 0;
    }

    aside {
        grid-column: span 3;
        padding: 0 50px;
    }

    .aside-things {
        max-width: 100%;
        gap: 20px;
        padding: 20px;
    }
}

/***** MOVIL *****/
@media (max-width:375px) {
    main {
        padding: 20px 30px;
    }

    body {
        grid-template-rows: 100px 1fr 154px 100px;
    }

    aside {
        padding: 0px;
    }

    main h2 {
        font-size: 20px;
    }

    .aside-things h3 {
        font-size: 16px;
    }
}