/******************* Main ******************/
main {
    margin-bottom: 50px;
}

main h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
}

/***** Carousel *****/
.mySlides {
    display: none;
}

.carousel-img {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border: 0.5px solid #B2B2B2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 30px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.active-dot {
    background-color: #B2B2B2;
}

.fade img:last-child {
    display: none;
}

/***** Ofertas *****/
.container-ofertas {
    margin: 0 150px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 100px;
    row-gap: 30px;
    justify-items: center;
}

.container-ofertas div a img {
    width: 100%;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.container-ofertas div a img:hover {
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.6);
}

main h2 {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

/***** Ventas destacadas *****/
.container-ventas-destacadas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 80px;
    gap: 30px;
}

.container-ventas-destacadas div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-ventas-destacadas div a img {
    width: 100%;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.container-ventas-destacadas div a img:hover {
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.6);
}


/*************************************************/
/******************* Responsive ******************/
/*************************************************/
@media screen and (max-width:1200px) {
    .container-ofertas {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .container-ventas-destacadas {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media screen and (max-width:820px) {
    .container-ofertas {
        grid-template-columns: minmax(100px, 1fr);
    }

    .container-ventas-destacadas {
        margin: 0 30px;
    }

    .dot {
        height: 12px;
        width: 12px;
    }
}

@media screen and (max-width:600px) {
    .container-ofertas {
        margin: 0 70px;
    }
}

@media screen and (max-width: 500px) {
    .container-ventas-destacadas {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/***** MOVIL *****/
@media (max-width:375px) {
    main h1 {
        margin-left: 0px;
        text-align: center;
        font-size: 22px;
    }

    main h2 {
        font-size: 20px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    .container-ofertas {
        margin: 0 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        justify-items: center;
    }

    .container-ofertas div:last-child{
        display: none;
    }

    .container-ventas-destacadas {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        margin: 0 30px;
        column-gap: 20px;
    }

    .fade img:first-child {
        display: none;
    }

    .fade img:last-child {
        display: flex;
    }
}